RewriteEngine on

DirectoryIndex index.html_ index.php /listing.php
RewriteCond %{HTTP_HOST} ^osezlagourmandise\.com\,osezlagourmandise_bise8976\.odns\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.osezlagourmandise\.com\,osezlagourmandise_bise8976\.odns\.fr$
RewriteRule ^/?$ "http\:\/\/https\:\/\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^oceanelao\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.oceanelao\.com$
RewriteRule ^/?$ "https\:\/\/oceanelao\.com\/" [R=301,L]