body {
  background-image: url("assets/img/Background_V1.png");
  background-size: contain;
  background-position: center;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; /* Pour améliorer le rendu des polices sur Safari */
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

header,
footer {
  background-color: #010028;
}

h1,
h2,
h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 17px;
}

.homepage-container {
  background-image: url("assets/img/Horizontal_block.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homepage-text {
  padding-left: 100px;
}

button {
  background-image: none;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease; /* Préfixe pour Safari */
  transition: box-shadow 0.3s ease;
}

button:hover {
  background-color: #fff;
  box-shadow: 5px 5px 15px #a024c2;
  -webkit-transition: box-shadow 0.3s ease; /* Préfixe pour Safari */
  transition: box-shadow 0.3s ease;
}

.homepage-gif {
  width: 80%;
  height: auto;
  margin-right: 100px;
}

#latest-projects {
  padding-top: 50px;
}

#about {
  padding-top: 250px;
  margin-bottom: 200px;
}

div.form-group {
  width: 70%;
}

@media screen and (max-width: 767px) {
  .display-menu-mobile-first {
    background-image: url("assets/img/Background_V1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  .homepage-container {
    background-image: url("assets/img/Vertical_block_mobile_first.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 580px;
    margin-top: 70px;
    text-align: center;
  }

  .homepage-text {
    width: 70%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .homepage-gif {
    width: 70%;
    margin-left: 15px;
    margin-right: 15px;
  }

  h2 {
    padding-top: 20px;
  }

  #latest-projects,
  #contact {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  #about {
    padding-top: 100px;
    margin-bottom: 50px;
  }

  div.form-group {
    width: 100%;
  }
}